html {
  font-family: sans-serif;
}

header {
    height: 64px;
    max-width: 100%;
    background-color: hsl(71, 0%, 98%);
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
}

.header-left {
  display: inline-flex;
}

.header-right, a{
  text-decoration: none;
  color: black;
  padding-left: 16px;
  }
